# Large files
data/audio

# Temp files
cache/
build/
CAIR.egg-info/
output/
.python-version
*.mp3

*~
\#*



# Other transcripts
data/transcript/*.json
data/transcript/*.srt
data/transcript/*.tsv
*.bz2
demo2.py
