# Large files
data/audio

# Temp files
cache/
build/
dist/
CAIR.egg-info/
civic_ai_recap.egg-info/
output/
downloads/
.python-version
*.mp3
test.mp4
__pycache__
.pytest_cache/

*~
\#*



# Other transcripts
data/transcript/*.json
data/transcript/*.srt
data/transcript/*.tsv
*.bz2
demo2.py
test_download.py
