# Large files
data/audio

# Temp files
cache/
build/
dist/
CAIR.egg-info/
output/
.python-version
*.mp3
__pycache__
.pytest_cache/

*~
\#*



# Other transcripts
data/transcript/*.json
data/transcript/*.srt
data/transcript/*.tsv
*.bz2
demo2.py
